body {
  font-family: "Helvetica", sans-serif;
  background-color: "#b3ffeb" !important
  /*width: 1500px;*/
  margin: 20px;*/
  padding: 20px 20px 20px 20px
}
img {
  box-shadow: 8px 8px 4px #AAA;
  width: auto;
  /*float: right;*/
}

.header {
  /*background: #EEE;*/
  padding: 14px;
  border-radius: 15px;
}

h3 {
  border-bottom: solid 4px gray;
  padding-bottom: 8px;
}

body {
    margin: 1em;
}
p {
    margin: 1em auto;
}
